root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

[.devcontainer/**.json]
indent_size = 4

[.vscode/**]
indent_size = 4

# [.github/**]
# indent_size = 4

[src/**.json]
indent_size = 4

[music.schema.json]
indent_size = 4
