# because of minified json files
**.min.json

# when we read these files using `serde`, we have to remove trailing commas.
# but these files are added trailing commas by format-on-save, we ignorer them.
music/data/music/**
.vscode/music.code-snippets
