# because of minified json files
**.min.json

# When we read these files using `serde`, we have to remove trailing commas.
# But these files are added trailing commas by the prettier, we ignorer them.
music/data/music/**
.vscode/music.code-snippets
